<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="PF Analyzer 2013" Language="1033"
           Version="0.2.1.1924" Manufacturer="RadWorks" UpgradeCode="a8c6051a-8c7f-4e2a-9995-b755377aff79">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A newer version of PF Analyzer 2013 is already installed." />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

    <Feature Id='Complete' Level='1' Title='PF Analyzer 2013'>
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='MahAppsLibrary' />
      <ComponentRef Id='WindowsInteractivityLibrary' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application is only supported on Windows 7 Service Pack 1 or higher.">
      <![CDATA[Installed OR ((VersionNT >= 601) AND (ServicePackLevel AND NOT ServicePackLevel = "#0"))]]>
    </Condition>
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <UIRef Id="WixUI_InstallDir" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="RadWorks" Name="RadWorks">
          <Directory Id='INSTALLDIR' Name='PF Analyzer 2013'>
            <Component Id='MainExecutable' Guid='8AD31043-1E37-43C2-9F27-4950557693C8'>
              <File Id='pfanalyzerEXE' Name='pf-analyzer.exe' DiskId='1' Source='../pf-analyzer/bin/Release/pf-analyzer.exe' KeyPath='yes'>
                <Shortcut Id="startmenuMainShortcut" Directory="ProgramMenuDir" Name="PF Analyzer 2013"
                  WorkingDirectory='INSTALLDIR' Icon="pfanalyzer.ico" IconIndex="0" Advertise="yes" />
                <Shortcut Id="desktopMainShortcut" Directory="DesktopFolder" Name="PF Analyzer 2013"
                  WorkingDirectory='INSTALLDIR' Icon="pfanalyzer.ico" IconIndex="0" Advertise="yes" />
              </File>
            </Component>
            <Component Id='MahAppsLibrary' Guid='A14DF5A5-C851-4CD0-A583-8C86AFFD2060'>
              <File Id='MahAppsDLL' Name='MahApps.Metro.dll' DiskId='1' Source='../pf-analyzer/bin/Release/MahApps.Metro.dll' KeyPath='yes' />
            </Component>
            <Component Id='WindowsInteractivityLibrary' Guid='ED4AEF92-AF90-416E-889E-CA94859855EA'>
              <File Id='WindowsInteractivityDLL' Name='System.Windows.Interactivity.dll' DiskId='1' Source='../pf-analyzer/bin/Release/System.Windows.Interactivity.dll' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="PF Analyzer 2013">
          <Component Id="ProgramMenuDir" Guid="48987B01-4B36-46B3-8C64-2D8430185278">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\RadWorks\PF Analyzer 2013' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    <Icon Id="pfanalyzer.ico" SourceFile="../pf-analyzer/Resources/pfa.ico" />
  </Fragment>
</Wix>